{% extends 'base.html.twig' %}

{% block page %}{{page}}{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<h2>Member table</h2>

<table>
    <tr>
        <th>id</th>
        <th>name_sei</th>
        <th>name_mei</th>
        <th>gender</th>
        <th>pref_name</th>
        <th>address</th>
        <th>password</th>
        <th>email</th>
        <th>created</th>
        <th>updated</th>
    </tr>
    {% for item in data %} 
    {# <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name_sei }}</td>
        <td>{{ item.name_mei }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.pref_name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.created }}</td>
        <td>{{ item.updated }}</td>
        {{ dump(item) }}
    </tr> #}

    <tr>
        <td>{{ item.getId() }}</td>
        <td>{{ item.getNameSei() }}</td>
        <td>{{ item.getNameMei() }}</td>
        <td>{{ item.getGender() }}</td>
        <td>{{ item.getPrefName() }}</td>
        <td>{{ item.getAddress() }}</td>
        <td>{{ item.getPassword() }}</td>
        <td>{{ item.getEmail() }}</td>
        {# <td>{{ item.getCreated() }}</td>
        <td>{{ item.getUpdated() }}</td> #}
        {{ dump(item) }}
    </tr>
    {% endfor %}
</table>

{% endblock %}
